a {
  color: #4b9ae7;
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px;
}

.tiles {
  display: flex;
  flex-direction: column;
}

.tile {
  margin: 20px;
  padding: 10px 15px;
  border: dashed 2px black;
}

.tile h2 {
  text-align: right;
}
