body {
  min-width: 500px;
}

article p {
  margin-bottom: 15px;
  line-height: "1.5rem";
}

a {
  color: #4b9ae7;
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px;
}

.tiles {
  display: flex;
  flex-direction: column;
}

.tile {
  margin: 20px;
  padding: 10px 15px;
  border: dashed 2px black;
  max-width: 450px;
  min-width: 400px;
}

.tile h2 {
  text-align: right;
}
